fieldset {
	display: inline-block;
	width: 40%;
	min-width: 230px;
	margin-left: 0px;
	margin-bottom: 20px;
}

body {
	font-family: Verdana, sans-serif;
}

h2 {
	text-align: center;
}

.center-align {
	text-align: center;
}

ul {
	padding-left: 0px;
}

ul li {
	list-style: none;
}

ol li {
	padding-top: 5px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#left {
	float: left;
	width: 470px;
	background-color: #e6e6e6;
	min-height: 400px;
}

#right {
	float: right;
	width: 470px;
	background-color: #e6e6e6;
	min-height: 400px;
}