fieldset {
	display: inline-block;
	width: 40%;
}

body {
	font-family: Verdana, sans-serif;
}

.button-align {
	text-align: center;
}

ul {
	padding-left: 0px;
}

ul li {
	list-style: none;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}